# Default applications show in gnome-shell lateral bar (bookmarks)
# https://help.gnome.org/admin/system-admin-guide/stable/desktop-favorite-applications.html.en
[org/gnome/shell]
favorite-apps = [{{ favorite_apps }}]
